{% extends "common/_base-layout.njk" %}

{% block content %}

    <div class="container-outer">
        <div class="categorie-title">
            <div class="wrapper">
                <h1>OnePlus 8</h1>
            </div>
        </div>
        <div class="wrapper">
            <ul class=" categorie-item-list">
                {% for i in range(0, 12)%}
                    <li class="item-phone categorie-item">
                        <span class="promo-list__tag promo-list__tag--categorie">В наличии</span>

                        <div class="categorie-img-wrapper">
                            <img class="phone-preview-lg gallery-img-first" src="src/assets/img/categories/phone-categories/8_pro_onyx_black_1_180_367.png" alt="image">
                            <img class="phone-preview-lg gallery-img-first" src="src/assets/img/categories/phone-categories/8_pro_onyx_black_2_180_367.png" alt="image">
                        </div>

                        <span class="item-title categorie-desc-text">Черный оникс</span>
                        <span class="item-title categorie-desc-text">8GB ОЗУ + 128GB внутренней</span>
                        <span class="item-price categorie-desc-text">62 990 р</span>
                        <button class="item-buy-btn btn">Купить</button>
                    </li>
                {%- endfor %}

            </ul>
        </div>

    </div>

{% endblock %}
