{% extends "common/_base-layout.njk" %}


{% block content %}

    {% include "common/_slider.njk" %}

    <div class="promo-wrapper">

        <main class="container promo">

            <h2 class="promo-section-title">Рекомендуем</h2>

            <ul class="promo-list">

                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/phone-main-page/oneplus_6t_6gb_128gb_black_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000 р.</span>44 000 р.</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/phone-main-page/oneplus_6t_8gb_128gb_purple_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000 р.</span>44 000 р.</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/phone-main-page/oneplus_7_12gb_256gb_grey_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000 р.</span>44 000 р.</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/phone-main-page/oneplus_7_8gb_256gb_red_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000 р.</span>44 000 р.</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
            </ul>

            <h2 class="promo-section-title">Популярные гаджеты</h2>

            <ul class="promo-list">

                <li class="promo-list__item">
                    <span class="promo-list__tag promo-list__tag--not-in-stock">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/gadgets-main-page/electric_tooth_brush_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000</span>44 000</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/gadgets-main-page/roborock_sweep_one_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000</span>44 000</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/gadgets-main-page/air_compressor_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000</span>44 000</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/gadgets-main-page/air_purifier_pro_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000</span>44 000</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
            </ul>

            <h2 class="promo-section-title">Аксессуары</h2>

            <ul class="promo-list">

                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/accessoires-main-page/oneplus_dash_charger_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000</span>44 000</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/accessoires-main-page/case_oneplus_7_pro_plastic_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000</span>44 000</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/accessoires-main-page/oneplus_bullets_wireless_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000</span>44 000</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/accessoires-main-page/nillkin_frosted_shield_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000</span>44 000</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
            </ul>
        </main>


        <section class="brand-story">



            <div class="item-wrp">

                <div class="item-tst">

                    <h2 class="item-tlt">Новые <br> вершины</h2>


                    <div class="wrp-text">
                        <h4 class="item-tlt2">Завораживающий <br> 90 Гц экран</h4>

                        <p class="item-tlt3">
                            Мы представили в OnePlus 7 Pro лидирующий в отрасли
                            жидкостный жидкокристаллический дисплей с частотой 90 Гц.
                        </p>

                        <a class="item-tlt4" href="#">Узнать больше...</a>
                    </div>
                </div>
            </div>



{#            <div class="brand-story__item milestone-item">#}
{#                <div class="brand-story__info">#}
{#                    <h2 class="brand-story__title">Новые <br> вершины</h2>#}
{#                    <h4 class="brand-story__subtitle">Завораживающий <br> 90 Гц экран</h4>#}
{#                    <div class="brand-story__text-slide">#}
{#                        <p class="brand-story__desc">#}
{#                            Мы представили в OnePlus 7 Pro лидирующий в отрасли#}
{#                            жидкостный жидкокристаллический дисплей с частотой 90 Гц.#}
{#                        </p>#}
{#                        <a class="brand-story__link" href="#">Узнать больше...</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}




            <div class="brand-story__item achivments-item">
                <div class="brand-story__info">
                    <h2 class="brand-story__title">Достижения <br> компании</h2>
                    <h4 class="brand-story__subtitle">Игровой режим <br> «Fnatic Mode»</h4>
                    <div class="brand-story__text-slide">
                        <p class="brand-story__desc">
                            В сотрудничестве с профессиональной киберспортивной командой Fnatic был создан режим OnePlus Gaming,
                        </p>
                        <a class="brand-story__link" href="#">Узнать больше...</a>
                    </div>
                </div>
            </div>

            <div class="brand-story__item our-people-item">
                <div class="brand-story__info">
                    <h2 class="brand-story__title">Наше <br> сообщество</h2>
                    <h4 class="brand-story__subtitle">Создаем наши устройства <br>вместе с вами!</h4>
                    <div class="brand-story__text-slide">
                        <p class="brand-story__desc">
                            Мы провели множество глобальных ивентов и митапов в 11 странах и 26 городах, с более чем 15 000 участников
                        </p>
                        <a class="brand-story__link" href="#">Узнать больше...</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="container promo-about">

            <div class="accordeon">
                <div class="acc-item">
                    <h4>Hello1
                    </h4>
                    <p>Lorem1 ipsum dolor sit amet.</p>
                </div>
                <div class="acc-item">
                    <h4>Hello2</h4>
                    <p>Lorem2 ipsum dolor sit amet.</p>
                </div>
                <div class="acc-item">
                    <h4>Hello3</h4>
                    <p>Lorem3 ipsum dolor sit amet.</p>
                </div>
            </div>

            <h1 class="promo-about__main-title">Интернет-магазин OnePlus</h1>
            <p class="promo-about__desc">
                Китайский производитель с официальным названием OnePlus в России производит смартфоны и мобильную технику. Бренд предлагает производительные модели, которые по
                соотношению цена качество – одни из топовых в своем классе.
            </p>
            <p class="promo-about__desc">
                Компания One Plus является подразделением BBK Electronics, изначально поставляла гаджеты с CyanogenMod, но в дальнейшем выпустила прошивку под названием OxygenOS.
            </p>
            <p class="promo-about__desc">
                Модельный ряд девайсов OnePlus – это прежде всего высокотехнологичные флагманские смартфоны. Даже спустя несколько лет они не потеряют актуальность. Будучи
                оснащенными современными процессорами и графическими картами, они показывают достойный показатель производительности. Эргономичность корпуса, высокий уровень
                сборки, а также продуманный до мелочей дизайн, гарантируют пользователю удобство и комфорт при использовании.
            </p>

            <h3 class="promo-about__list-title">Плюсы флагманов</h3>
            <p class="promo-about__desc">Производитель позиционирует смартфоны как убийцы флагманов, так как они обладают следующими характеристиками:</p>

            <ul class="promo-about-list">
                <li class="promo-about-list__item">отличный дизайн</li>
                <li class="promo-about-list__item">высокая производительность</li>
                <li class="promo-about-list__item">одни из самых лучших камер</li>
                <li class="promo-about-list__item">самые современные технологии</li>
                <li class="promo-about-list__item">большой дисплей с насыщенными цветами</li>
                <li class="promo-about-list__item">быстрая зарядка</li>
                <li class="promo-about-list__item">возможность оплаты NFC</li>
            </ul>

            <h3 class="promo-about__list-title">Большой выбор техники</h3>
            <p class="promo-about__desc">Наш сайт предлагает полный ассортимент оригинальной продукции:</p>

            <ul class="promo-about-list">
                <li class="promo-about-list__item">Смартфоны</li>
                <li class="promo-about-list__item">Чехлы, защитные стекла</li>
                <li class="promo-about-list__item">Зарядки и кабели</li>
                <li class="promo-about-list__item">Наушники</li>
                <li class="promo-about-list__item">Брендовые наборы</li>
            </ul>

            <p class="promo-about__desc">
                Камеры, установленные на смартфонах, выделяются качеством съемки, отличной четкостью и цветопередачей. В аппаратах Ван Плас используют модули с матрицей от Sony. С
                большим дисплеем работать станет гораздо приятнее. Его неотъемлемые составляющие это прежде всего: высокое разрешение, яркость, глубина цвета, хороший угол обзора.
                Автономность позволит спокойно работать с мобильным телефоном на протяжении всего дня. Функция быстрой зарядки Dash Charge или Warp Charge – это новинка в
                индустрии, она зарядит Ваш девайс до комфортного уровня за 30 минут. Интуитивно простая операционная система на базе Android – OxygenOS, позволит Вам наслаждаться
                каждой минутой использования смартфона, даже если вы работаете с ним в первый раз.
            </p>

            <p class="promo-about__desc">
                Наш интернет-магазин занимается продажей только оригинальной продукции. Наши специалисты помогут Вам принять рациональное решение в подборе товара. Мы дорожим
                каждым клиентом и стараемся широко освящать события компании, чтобы каждый, кто следит за брендом, смог получать информацию из единого качественного источника.
                Основным критерием нашего магазина можно назвать следующее: консультация покупателей должна производиться не только до момента покупки, но и после нее. Каждый
                пользователь – это частичка огромного сообщества, в этом отношении исключительный подход к каждому является необходимым. Наша цель – это прежде всего развитие
                данного бренда в России, и мы будем и дальше знакомить Вас с этой замечательной фирмой. Только при тесном контакте с аудиторией можно создать действительно полезное
                устройство, которое будет отражать вклад каждого, кто не остался в стороне!
            </p>
        </section>
    </div>


    {% include "common/_promotion_badge.njk" %}

{% endblock %}


