
{% extends "common/_base-layout.njk" %}


{% block content %}

    {% include "common/_slider.njk" %}

    <section class="promo-wrapper">

        <main class="container promo">

            <h2 class="promo-section-title">Рекомендуем</h2>

            <ul class="promo-list">

                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/phone-main-page/oneplus_6t_6gb_128gb_black_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000 р.</span>44 000 р.</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/phone-main-page/oneplus_6t_8gb_128gb_purple_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000 р.</span>44 000 р.</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/phone-main-page/oneplus_7_12gb_256gb_grey_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000 р.</span>44 000 р.</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/phone-main-page/oneplus_7_8gb_256gb_red_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000 р.</span>44 000 р.</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
            </ul>


            <h2 class="promo-section-title">Популярные гаджеты</h2>

            <ul class="promo-list">

                <li class="promo-list__item">
                    <span class="promo-list__tag promo-list__tag--not-in-stock">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/gadgets-main-page/electric_tooth_brush_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000</span>44 000</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/gadgets-main-page/roborock_sweep_one_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000</span>44 000</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/gadgets-main-page/air_compressor_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000</span>44 000</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/gadgets-main-page/air_purifier_pro_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000</span>44 000</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
            </ul>



            <h2 class="promo-section-title">Аксессуары</h2>

            <ul class="promo-list">

                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/accessoires-main-page/oneplus_dash_charger_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000</span>44 000</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/accessoires-main-page/case_oneplus_7_pro_plastic_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000</span>44 000</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/accessoires-main-page/oneplus_bullets_wireless_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000</span>44 000</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
                <li class="promo-list__item">
                    <span class="promo-list__tag">В наличии</span>
                    <a class="promo-list__link" href="/item.html">
                        <img class="promo-list__img" src="/src/assets/img/main-page/accessoires-main-page/nillkin_frosted_shield_275_1.png" alt="image">
                    </a>
                    <span class="promo-list__title">Oneplus 7 Pro 8GB + 256GB (туманный синий)</span>
                    <span class="promo-list__price"><span class="promo-list__price--old">55 000</span>44 000</span>
                    <button class="btn promo-list__btn">Купить</button>
                </li>
            </ul>
        </main>
    </section>




    {% include "common/_promotion_badge.njk" %}

{% endblock %}


