/*  Фикс IE11 для прижатия футера к подвалу  */
html {
  display: flex;
  flex-direction: column;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
}


/*  Базовый контейнер для блоков, не центруется, тянется до краев экрана (максимум взят за 2133px), доавлен padding
    для того, чтобы не мобильных текст не прижимался к краям, до мобильных разрешений padding не влияет
    Добавлятся блокам div или section, которые идут до краев экрана.
================================
*/


.container-outer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


/*  Обертка-центровщик. Добавлятся блокам, которые занимают фиксированную максимальную ширину.
================================
*/

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.categorie-item-list {
  display: flex;
  flex-wrap: wrap;
  @include wrapper-negative-margins();
}

.categorie-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  @include generate-columns-for-item(4, $margin-bottom: 30);

  &>*:not(:last-child) {
    margin-bottom: 10px;
  }
}


.categorie-item--other {
  cursor: pointer;
  background-color: #fff;
  transition: .25s;
  @include generate-columns-for-item(3, $margin-bottom: 30);



  & img {
    align-self: center;
  }
}


.categorie-title {
  background-color: #f9f9f9;
  padding: 20px 10px;
  margin-bottom: 30px;

  &>div>h1 {
    font-size: 22px;
    margin: 0;
    padding: 0;
    color: #636E75;
    font-weight: 400;
  }
}

.item-buy-btn {
  padding: 10px 30px;
}

.categorie-desc-text {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 300;
  color: $black-100;

  &:last-of-type {
    font-size: 16px;
    font-weight: 400;

  }

}

.container-outer--no-offset {
  padding-left: 0;
  padding-right: 0;
  &>div:first-child {
    height: 200px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;

    &>h1 {
      display: block;
      position: absolute;
      top: 50%;
      width: 100%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      padding-left: 10px;
      padding-right: 10px;
      color: $white;
      text-align: center;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}


.categorie-img-wrapper {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all .6s ease;



  &>img:first-child {
    transition: all .6s ease;
    position: relative;
    right: -50px;
  }

  &>img:last-child {
    transition: all .6s ease;
    position: relative;
    left: -35px;
  }

  &:hover {
    &>img:first-child {
      //right: -30px;
      transform: translateX(-20px);
    }
    &>img:last-child {
      //left: -18px;
      transform: translateX(18px);
    }
  }
}





.promo-wrapper {
  margin-bottom: 100px;
  padding-bottom: 10px;
  background-color: $white-500;
}

.promo {
  margin-bottom: 50px;
  overflow: hidden; //Нивелируем вытягивание фона через отрицательный margin
}

.promo-section-title {
  margin: 0;
  padding: 20px;
  font-size: 25px;
  font-weight: 300;
  color: $grey;
}


.promo-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}


.promo-list__item {
  display: flex;
  width: calc(100% / 12 * 3 - 20px);
  min-width: 220px;

  flex-direction: column;
  margin: 0 10px;
  padding: 10px 5px 20px;

  overflow-x: hidden;

  color: $black-100;
  background-color: $white;
  transition: 0.25s linear;

  &:hover {
    box-shadow: -3px 4px 14px 3px $grey;
  }

  &:hover .promo-list__img {
    transform: scale(1.05);
  }

  @media (max-width: 999px) {
    width: calc(100% / 12 * 4 - 20px);
    margin-bottom: 10px;
  }

  @media (max-width: 716px) {
    width: calc(100% / 12 * 6 - 20px);
  }

  @media (max-width: 499px) {
    width: calc(100% - 20px);
  }
}


.promo-list__tag {
  align-self: flex-end;
  margin-bottom: 10px;
  padding: 5px 10px;
  color: $white;
  text-transform: uppercase;
  background-color: $red-100;

  &--not-in-stock {
    text-decoration: line-through;
    background-color: $grey;
  }
  &--categorie {
    padding: 2px 5px;
    font-size: 10px;
    align-self: center;
  }
}

.promo-list__link {
  margin-bottom: 10px;
  text-align: center;
}


.promo-list__img {
  vertical-align: bottom;
  transition: 0.3s;
}

.promo-list__title {
  margin-bottom: 10px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  text-align: center;
}

.promo-list__price {

  margin-top: auto;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
  text-align: center;

  &--old {
    margin-right: 10px;
    font-size: 15px;
    color: $grey;
    text-decoration: line-through;
  }
}

.promo-list__btn {
  padding: 8px 42px;
}


.promo-about {

}

.accordeon {
}

.acc-item {

}

.acc-start {
  cursor: pointer;

  &:hover {
    color: lighten($black-100, 30%);
  }
}

.acc-cont {
  transition: .4s linear;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hide-acc {
  //transform: scale(0);
  height: 0;

}

.show-acc {
  transform: scale(1);
}


/*  История бренда
================================
*/

.brand-story {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
}

.brand-story__item {
  display: flex;
  position: relative;
  width: calc(100% / 12 * 4);
  min-width: 320px;
  text-align: center;

  &:hover .brand-story__subtitle {
    transform: translateY(-60px);
  }

  &:hover .brand-story__desc {
    transform: translateY(-60px);
  }

  &:hover .brand-story__link {
    transform: scale(1) translateY(-60px);
  }

  @media (max-width: 960px) {
    width: 100%;
  }
}

.milestone-item {
  background: url("/src/assets/img/other/brand-story-1.jpg") no-repeat center;
  background-size: cover;
}

.achivments-item {
  background: url("/src/assets/img/other/brand-story-2.jpg") no-repeat center;
  background-size: cover;
}

.our-people-item {
  background: url("/src/assets/img/other/brand-story-3.jpg") no-repeat center;
  background-size: cover;
}

.brand-story__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 30px 10px;
  color: $white;
  background-color: $black-100;

  transition: .3s linear;

  &:hover {
    opacity: .7;
  }
}


.brand-story__title {
  position: relative;
  font-size: 36px;
  font-weight: 300;
  line-height: 54px;
  color: hsla(0, 0%, 87.5%, .8);

  animation: 0.4s fadeInUp;

}

.brand-story__text-slide {

  margin-top: auto;
  padding: 55px 10px 5px;
  overflow: hidden;
}


.brand-story__subtitle {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;

  transition: .5s cubic-bezier(.645, .045, .355, 1);


  &:before {
    content: "";
    position: absolute;
    width: 45px;
    height: 4px;
    top: -12px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: $white;
  }
}

.brand-story__desc {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  position: relative;
  transition: .6s linear;
}


.brand-story__link {

  transform: scale(0);
  display: inline-block;
  position: relative;
  bottom: -40px;
  padding: 5px 10px;
  transition: .7s cubic-bezier(.645, .045, .355, 1);

  &:hover::after {
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    right: 20%;
    bottom: -2px;
    left: 20%;
    z-index: -1;
    background-color: $white;
    opacity: 0;
    transition: .3s;
  }
}

/*  Блок промо
================================
 */
.promo-about__main-title {
  padding-top: 10px;
  font-size: 28px;
  font-weight: 300;
  color: $grey-300;
  text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}

.promo-about__desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.promo-about__list-title {
  font-size: 16px;
}

.promo-about-list {
}

.promo-about-list__item {

}










