
.delivery-rules {

  padding: 0 5px;

  overflow: hidden;

  @media (max-width: $tablet-width) {
    padding: 0 10px;
  }

  &__shipping-title {
    font-size: 24px;
    font-weight: 500;
    color: $grey-100;
  }

  &__shipping-city {
    margin-left: 50px;
    font-size: 16px;
    font-weight: 500;
    color: $black;
  }

  &__shipping-conditions {
    margin-left: 50px;
    font-size: 13px;
    color: $grey-100;
  }

  &__shipping-country {
    margin-left: 50px;
    font-size: 16px;
    font-weight: 500;
    color: $black;
  }


  &__payment-title {
    font-size: 24px;
    font-weight: 500;
    color: $grey-100;
  }

  &__payment-options {
    margin-left: 50px;
    font-size: 13px;
    color: $grey-100;
  }
}
