


.container {
  max-width: $container-width;
  margin: 0 auto;
  width: 100%;
}

/*  Контейнер для центровки сайта с фиксами для IE11, внутренний футер прижимается книзу через margin-top: auto  */
.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  max-width: $container-width;
  width: 100%;
  margin: 0 auto;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.show {
  display: block;
}

.hide {
  display: none;
}
