<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Интернет-магазин OnePlus</title>
    <meta name="description" content="web application">
    <meta name="keywords" content="web application">

    <meta name="robots" content="index,follow,noodp">
    <meta name="googlebot" content="index,follow">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="/src/assets/scss/vendor/owl.theme.default.css">
    <link rel="stylesheet" href="/src/assets/scss/vendor/owl.carousel.css">
    <link rel="stylesheet" href="/src/assets/scss/vendor/animate-for-owl-carousel.css">
    <link rel="stylesheet" href="/src/assets/scss/main.css">

    <script src="/src/assets/js/vendor/jquery-3.4.1.js"></script>

</head>
<body>

    {% include "common/_portfolio_controls.njk" %}

    {% include "common/_header.njk" %}

    {% block content %}{% endblock %}

    {% include "common/_footer.njk" %}

    {% include "common/_sprite.njk" %}


    <script src="/src/assets/js/vendor/owl.carousel.js"></script>
    <script src="/src/assets/js/main.js"></script>
</body>
</html>