

<div class="modal-dialog">
    <div class="modal-basket">
        <span class="modal-close">&times;</span>


        <div class="line">
            <span class="line-stage">Ваша корзина</span>
            <span class="line-stage">Оплата и доставка</span>
            <span class="line-stage">Успешное оформление</span>
        </div>
        
        
        <div class="basket__wrapper">

            <div class="basket-info">

                <section class="basket-delivery">
                    <h2 class="basket-order-title">Доставка</h2>
                    <div class="basket-card">
                        <p class="basket-card__info">
                            <span class="basket-card__title">Доставка по Москве</span>
                            <span class="basket-card__pay">бесплатно</span>
                        </p>
                        <span class="basket-card__date">сегодня</span>
                    </div>

                    <div class="basket-card">
                        <p class="basket-card__info">
                            <span class="basket-card__title">Самовывоз</span>
                            <span class="basket-card__pay">бесплатно</span>
                        </p>
                        <span class="basket-card__address">Москва, Барклая 6, стр. 5, БЦ "Барклай Плаза" (м. Парк Победы)</span>
                    </div>

                    <div class="basket-card">
                        <p class="basket-card__info">
                            <span class="basket-card__title">Доставка по России</span>
                            <span class="basket-card__pay">бесплатно</span>
                        </p>
                        <span class="basket-card__services"><img src="/src/assets/img/other/basket-shipping.png" alt="shipping"></span>
                    </div>
                </section>

                <section class="basket-customer">
                    <h2 class="basket-order-title">Покупатель</h2>

                    <form class="basket-form" action="/" name="basket-form" method="POST">
                        <label class="basket-form__label">
                            <input class="basket-form__input" name="name" type="text" maxlength="255" minlength="3" autocomplete="on" placeholder="Имя" required>
                        </label>
                        <label class="basket-form__label">
                            <input class="basket-form__input" name="phone" type="text" maxlength="255" minlength="3" autocomplete="on" placeholder="Телефон" required>
                        </label>
                        <label class="basket-form__label">
                            <input class="basket-form__input" name="email" type="email" maxlength="255" minlength="3" autocomplete="on" placeholder="Email" required>
                        </label>
                        <label class="basket-form__label">
                            <input class="basket-form__input" name="address" type="text" maxlength="255" minlength="3" autocomplete="on" placeholder="Адрес" required>
                        </label>
                        <label class="basket-form__label"><textarea name="" id="" cols="30" rows="10" placeholder="Комментарий"></textarea></label>
                    </form>
                </section>

                <section class="basket-checkout">
                    <h2 class="basket-order-title">Оплата</h2>

                    <div class="basket-card">
                        <p class="basket-card__info">
                            <span class="basket-card__title">Оплата наличными</span>
                        </p>
                    </div>

                    <div class="basket-card">
                        <p class="basket-card__info">
                            <span class="basket-card__title">Электронными деньгами</span>
                            <span class="basket-card__pay">бесплатно</span>
                        </p>
                        <span class="basket-card__epayment"><img src="/src/assets/img/other/basket-epayment.png" alt="epayment"></span>
                    </div>

                    <div class="basket-card">
                        <p class="basket-card__info">
                            <span class="basket-card__title">Безналичный расчет (для юр. лиц)</span>
                        </p>
                    </div>
                </section>
            </div>

            <div class="basket-summary">




            </div>


        </div>




    </div>
</div>

