

<div class="footer-wrapper">

    <footer class="container footer">

        <p class="footer__copyright">Copyright © 2017 - 2019 OnePlus Store. Все права защищены.</p>

        <a class="footer__phone" href="tel:7499699999">7 (499) 69-9999</a>

        <span class="footer__working-hours">10:00 – 21:00 пн-вс</span>

        <ul class="social-list">
            <li class="social-list__item">
                <a class="social-list__link" href="" target="_blank">
                    <svg class="social-list__img" width="30" height="30" role="img">
                        <use xlink:href="#twitter-icon"/>
                    </svg>
                </a>
            </li>
            <li class="social-list__item">
                <a class="social-list__link" href="" target="_blank">
                    <svg class="social-list__img" width="28" height="28" role="img">
                        <use xlink:href="#instagram-icon"/>
                    </svg>
                </a>
            </li>
            <li class="social-list__item">
                <a class="social-list__link" href="" target="_blank">
                    <svg class="social-list__img" width="30" height="30" role="img">
                        <use xlink:href="#telegram-icon"/>
                    </svg>
                </a>
            </li>
        </ul>
    </footer>
</div>
