

<header class="container header">
    
    <div class="mobile-menu__icon"><span></span></div>


    <div class="header__mobile-menu-wrapper">
        <ul class="header__mobile-menu-list">
            <li><a href="">Смартфоны</a></li>
            <li><a href="">Аксессуары</a></li>
            <li><a href="">Гаджеты</a></li>
            <li><a href="">Доставка</a></li>
            <li><a href="">Доставка</a></li>
        </ul>
    </div>


    <a class="header__logo-link" href="/">

        <svg class="header__logo-img" width="55" height="55" fill="red" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 85 80">
            <path d="M34.7,55.8v-5.3H40V34.6h-5.3v-5.4h10.6v21.2h5.4v5.3H34.7z M69.2,69V34.5h-5.3v29.2H21.5V21.3h29.2V16H16.2V69H69.2z M69.2,29.2v-8h8V16h-8V8h-5.3v8h-8v5.3h8v8H69.2z"></path>
        </svg>
    </a>


    <ul class="header__nav-list">
        <li class="header__nav-item">
            <a class="header__nav-link " href="">Смартфоны<span class="header__nav-link--arrow"></span></a>
            <ul class="header__inner-list list-hide">

                <li class="header__inner-item">
                    <a class="header__inner-link" href="">
                        <svg class="header__inner-img" width="32" height="32" role="img">
                            <use xlink:href="#menu-phone-1"/>
                        </svg>
                        OnePlus 7T Pro
                    </a>
                </li>
                <li class="header__inner-item">
                    <a class="header__inner-link" href="">
                        <svg class="header__inner-img" width="32" height="32" role="img">
                            <use xlink:href="#menu-phone-2"/>
                        </svg>
                        OnePlus 7T
                    </a>
                </li>
                <li class="header__inner-item">
                    <a class="header__inner-link" href="">
                        <svg class="header__inner-img" width="32" height="32" role="img">
                            <use xlink:href="#menu-phone-3"/>
                        </svg>
                        OnePlus 7
                    </a>
                </li>
                <li class="header__inner-item">
                    <a class="header__inner-link" href="">
                        <svg class="header__inner-img" width="32" height="32" role="img">
                            <use xlink:href="#menu-phone-4"/>
                        </svg>
                        OnePlus 6T Pro
                    </a>
                </li>
                <li class="header__inner-item">
                    <a class="header__inner-link" href="">
                        <svg class="header__inner-img" width="32" height="32" role="img">
                            <use xlink:href="#menu-phone-5"/>
                        </svg>
                        OnePlus 6T
                    </a>
                </li>

            </ul>
        </li>



        <li class="header__nav-item">
            <a class="header__nav-link" href="">Аксессуары<span class="header__nav-link--arrow"></span></a>
            <ul class="header__inner-list">

                <li class="header__inner-item">
                    <a class="header__inner-link" href="">
                        <svg class="header__inner-img" width="32" height="32" role="img">
                            <use xlink:href="#menu-cover"/>
                        </svg>
                        Чехлы & Защита
                    </a>
                </li>
                <li class="header__inner-item">
                    <a class="header__inner-link" href="">
                        <svg class="header__inner-img" width="32" height="32" role="img">
                            <use xlink:href="#battery"/>
                        </svg>
                        Зарядные кабели
                    </a>
                </li>
                <li class="header__inner-item">
                    <a class="header__inner-link" href="">
                        <svg class="header__inner-img" width="32" height="32" role="img">
                            <use xlink:href="#headphones-bg"/>
                        </svg>
                        Аудио устройства
                    </a>
                </li>
                <li class="header__inner-item">
                    <a class="header__inner-link" href="">
                        <svg class="header__inner-img" width="32" height="32" role="img">
                            <use xlink:href="#smartwatch"/>
                        </svg>
                        Умные часы
                    </a>
                </li>
            </ul>
        </li>

        <li class="header__nav-item">
            <a class="header__nav-link" href="">Гаджеты<span class="header__nav-link--arrow"></span></a>
            <ul class="header__inner-list">

                <li class="header__inner-item">
                    <a class="header__inner-link" href="">
                        <svg class="header__inner-img" width="32" height="32" role="img">
                            <use xlink:href="#menu-smart-home"/>
                        </svg>
                        Умный дом
                    </a>
                </li>
                <li class="header__inner-item">
                    <a class="header__inner-link" href="">
                        <svg class="header__inner-img" width="32" height="32" role="img">
                            <use xlink:href="#menu-external-battery"/>
                        </svg>
                        Аккумуляторы
                    </a>
                </li>
                <li class="header__inner-item">
                    <a class="header__inner-link" href="">
                        <svg class="header__inner-img" width="32" height="32" role="img">
                            <use xlink:href="#menu-auto"/>
                        </svg>
                        Все для авто
                    </a>
                </li>
                <li class="header__inner-item">
                    <a class="header__inner-link" href="">
                        <svg class="header__inner-img" width="32" height="32" role="img">
                            <use xlink:href="#menu-home-robot"/>
                        </svg>
                        Роботы-пылесосы
                    </a>
                </li>
            </ul>
        </li>
        <li class="header__nav-item"><a class="header__nav-link" href="">Доставка и оплата</a></li>
    </ul>


    <div class="header__order-wrapper">
        <a class="header__order-phone" href="tel:8800888888">
            <svg class="header__order-phone-icon" width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#phone-icon"/>
            </svg>
            +7&nbsp;(800)&nbsp;88-8888</a>
        <a class="header__cart" href="">
            <svg class="user-cart" width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#cart-icon-2"/>
            </svg>
        </a>
    </div>
</header>








