

<ul class="container promotion-badge">

    <li class="promotion-badge__item">
        <svg class="promotion-badge__img" width="50" height="50">
            <use xlink:href="#guarantee-icon"/>
        </svg>
        <div class="promotion-badge__caption-wrapper">
            <p class="promotion-badge__caption-lg">Гарантия один год.</p>
            <p class="promotion-badge__caption-sm">Расширенная - два года</p>
        </div>
    </li>

    <li class="promotion-badge__item">
        <svg class="promotion-badge__img" width="50" height="50">
            <use xlink:href="#original-icon"/>
        </svg>
        <div class="promotion-badge__caption-wrapper">
            <p class="promotion-badge__caption-lg">Оригинальная техника.</p>
            <p class="promotion-badge__caption-sm">Устройства на русском</p>
        </div>
    </li>

    <li class="promotion-badge__item">
        <svg class="promotion-badge__img" width="45" height="45">
                <use xlink:href="#map-pickup-icon"/>
        </svg>
        <div class="promotion-badge__caption-wrapper">
            <p class="promotion-badge__caption-lg">Самовывоз в Москве.</p>
            <p class="promotion-badge__caption-sm">Метро: Парк Победы</p>
        </div>
    </li>
</ul>





