



<div class="slider">
    <div class="owl-carousel owl-theme">
        <img class="slider__slider-img" src="/src/assets/img/main-page/slider/slider-1-lg-1920_600.jpg" alt="image">
        <img class="slider__slider-img" src="/src/assets/img/main-page/slider/slider-2-lg-1920_600.jpg" alt="image">
        <img class="slider__slider-img" src="/src/assets/img/main-page/slider/slider-3-lg-1920_600.jpg" alt="image">
        <img class="slider__slider-img" src="/src/assets/img/main-page/slider/slider-4-lg-1920_600.jpg" alt="image">
        <img class="slider__slider-img" src="/src/assets/img/main-page/slider/slider-5-lg-1920_600.jpg" alt="image">
    </div>
</div>

