
.nav-categories {

  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;

  @media (max-width: 915px) {
    display: none;
  }


  &__item:hover .inner-nav-list {
      display: flex;
  }

  &__item:hover .nav-categories__link--arrow::after {
    transform: rotate(-180deg);
    border-top-color: $red-500;
  }



  &__item:not(:last-child) {


    @media (max-width: 920px) {
      transition: .2s;
    }

  }



  &__link {
    display: block;
    padding: 10px 0;
    transition: 0.2s;

    font-size: 16px;
    font-weight: 600;
    color: $grey;

    &:hover {
      color: $red-500;
    }

    &--arrow {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: -15px;
        top: 9px;
        border-top: 6px solid $grey;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        transition: .25s;
      }
    }

    @media (max-width: 998px) {
      font-size: 14px;
      transition: .2s;
    }
  }
}









