

/*  Миксин для добавления эффекта наведения к базовой кнопке  */
@mixin btn-hover-effect-red($bg-color: #b8001f) {

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.25s;
    background-color: $bg-color;
  }

  &:hover::after {
    width: 100%;
  }
}

/*  Миксин для добавления эффекта наведения к заказу в один клик  */
@mixin btn-hover-effect-grey($bg-color: #f6f6f6) {

  &:hover {
    background-color: $white-100;
    transition: all 0.2s ease;
  }
}


/*  Миксин мобильное меню, для структуры div.class-name > span  */
@mixin mobile-menu-icon ($width: 40px, $color: #ffffff) {

  width: $width;

  &::before, &::after, & > span {
    content: "";
    display: block;
    height: 5px;
    margin: 7px 0;
    border-radius: 3px;
    background-color: $color;
    transition: all .2s ease-in-out;
  }

  &:hover::before {
    transform: translateY(12px) rotate(135deg);
  }

  &:hover::after {
    transform: translateY(-12px) rotate(-135deg);
  }

  &:hover > span {
    transform: scale(0);
  }
}

/*  Миксин для стрелки, вращающейся при наведении  */
@mixin hover-rotate-arrow($color-default: #828282, $color-hover: #eb0028) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: -15px;
    top: 9px;
    border-top: 6px solid $color-default;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transition: .25s;
  }

  &:hover::after {
    transform: rotate(-180deg);
    border-top-color: $color-hover;
  }
}

